@import '@scss/utils.scss';

.container {
  @include txt-content;

  .wrap-persons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin: 42px 0 14px;

    .heart_icon {
      fill: var(--red);
      width: 20px;
      height: 20px;
    }
  }

  .flower_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
  }

  .wrap-location {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
