@font-face {
  font-family: 'NanumDaJinCe';
  src:
    url('../assets/fonts/subset-NanumDaJinCe.woff2') format('woff2'),
    url('../assets/fonts/subset-NanumDaJinCe.woff') format('woff'),
    url('../assets//fonts/subset-NanumDaJinCe.ttf') format('truetype');
  font-display: swap;
}
